<page-title></page-title>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
      <div class="col-3">
        <fav-photos></fav-photos>
      </div>
      <div class="col-3">
        <chores-list></chores-list>
      </div>
    </div>
    <hr>
    <details>
      <summary>What happens when you run ng commands in terminal?</summary>
      <img class='gif' src="https://i.pinimg.com/originals/37/75/11/37751162cba905651c93d8e9674e35a3.gif">
    </details>
    <fav-links></fav-links>
  </div>
  
  
  
  